html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    /* display: flex;
    align-items: center; */
    height: 100%;
    padding: 0;
    margin: 0;
}

.perspective {
    perspective: 500vw;
}

.rotate {
    position: relative;
    width: 100vw;
    height: 51.53vw;
    transform-style: preserve-3d;
}

.layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: no-repeat 50% 50%;
    background-size: contain;
}

.bg {
    background-image: url(/img/bg.jpg);
    background-size: cover;
}

.bgFade {
    opacity: 0;
    background: white;
    border: solid 2px #666;
}

.fade {
    background-image: url(/img/fade.jpg);
}

.default {
    opacity: 0.8;
    background-image: url(/img/default.jpg);
}

.fadeT {
    background-image: url(/img/fade.png);
}

.defaultT {
    background-image: url(/img/default.png);
}

.mask {
    opacity: 0.5;
    background-image: url(/img/mask.jpg);
}

.highlight1 {
    background-size: 44%;
    background-position: 38% 28%;
    background-image: url(/img/highlight1.png);
}
.highlight2 {
    background-size: 64.8%;
    background-position: 0 79.3%;
    background-image: url(/img/highlight2.png);
}
.highlight3 {
    background-position: 63.7% 0;
    background-size: 30.4%;
    background-image: url(/img/highlight3.png);
}
.highlight4 {
    background-size: 25.6%;
    background-position: 89.4% 53.4%;
    background-image: url(/img/highlight4.png);
}

.paths {
    opacity: 0;
    background-image: url(/img/paths.png);
}
